//
   Created by rbailey on 07/02/14.

extends ../layout

block content
    .container.bs-docs-container
        h1 Welcome to the CLM Portal
        p.lead
            | Please use the form below to select a provider to work on.
